github "Alamofire/Alamofire" >= 1.1
github "petejkim/expecta"
github "Haneke/HanekeSwift"
#github "railsware/Sleipnir"
#github "jmascia/KLCPopup"
#github "ReactKit/SwiftTask"
github "robb/Cartography"
github "gavinbunney/Toucan"
