github "Haneke/HanekeSwift"        "master"
#github "BoltsFramework/Bolts-iOS"  "master"
#github "facebook/pop"              "master"
#github "rs/SDWebImage"             "master"
#github "Alamofire/Alamofire"       "master"
#github "robb/Cartography"          "xcode6-3"
#github "petejkim/expecta"          "master"
#github "railsware/Sleipnir"       "master"   
#github "ReactKit/SwiftTask"       "master"
#github "gavinbunney/Toucan"        "master"
#github "facebook/AsyncDisplayKit"  "master"
#github "DaveWoodCom/XCGLogger"     "master"
#github "mozilla/firefox-ios"       "master"
#github "AFNetworking/AFNetworking" "master"


