github "Haneke/HanekeSwift"        "master"
github "facebook/pop"              "master"
github "Alamofire/Alamofire"       "master"
github "robb/Cartography"          "master"
github "rs/SDWebImage"             "master"
github "Quick/Nimble"              "master"
github "Quick/Quick"               "master"
github "ankurp/Dollar.swift"       "master"
